<div class="container">
    <div class="mt-5">
        <div class="row">
            <div class="col-md-9">
                <h3> Bienvenido </h3>
            </div>
            <div class="col-md-3 mt-3">
                <app-fecha> </app-fecha>
            </div>
        </div>
    </div>


    <hr>
    <h2 class="text-center"> Lotes </h2>
    <hr>

    <button (click)="verLote(i)" type="button" class="lote btn btn-light btn-lg mr-2 mb-2" *ngFor="let lote of lotes; let i = index"> 
            <b> {{ lote.nombre }} </b>
        </button>

    <button class="plus btn btn-light" (click)="agregarNuevoLote()">
            <svg class="bi bi-plus-circle" width="4em" height="4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd"/>
            </svg>
        </button>
</div>






<!-- <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block"> Ver más... </button> -->

<!--<router-outlet></router-outlet>-->