<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <h4> Nuevo lote </h4>
        </div>
        <div class="col-md-2"> <a [routerLink]="['/lotes']" class="btn btn-outline-danger"> Regresar </a> </div>
    </div>

    <p> Ingresa los datos necesarios:</p>

    <form>
        <div class="form-group">
            <label for="InputAnoSiembra">Año de siembra</label>
            <input type="datetime-local" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="InputHectareas">Hectáreas</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="InputNumeroPalmas"> Número de palmas </label>
            <input type="number" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleMaterialSiembra"> Material de siembra </label>
            <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Option 1
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Option 2
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Option 3
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary"> Guardar </button>
    </form>
</div>