<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <h4> Nueva plaga </h4>
        </div>
    </div>

    <p> Ingresa los datos necesarios:</p>

    <form>
        <div class="form-group">
            <label required>Nombre común</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="InputNombreCientifico">Nombre científico</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label> Etapas de desarrollo </label>
            <input type="text" class="form-control" #newEtapa (keyup.enter)="addEtapa(newEtapa.value)" (blur)="addEtapa(newEtapa.value); newEtapa.value='' " required>
            <div class="position-static mt-2">
                <button type="button" class="btn btn-outline-success btn-sm" (click)="addEtapa(newEtapa.value)"> + </button> <br>
                <input type="checkbox" id="check" name="check" (click)="setBandera()">
                <label class="form-check-label ml-2">
                    <small> Ingresé todas los estados para esta enfermedad </small> 
                </label> <br>
                <span *ngFor="let etapa of etapas" class="badge badge-success mr-2 mt-2"> {{ etapa }} </span>
            </div>
        </div>
        <button type="submit" *ngIf="bandera == true" data-toggle="modal" class="btn btn-primary" data-target="#staticBackdrop"> Guardar </button>
    </form>
    
</div>