<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form [formGroup]="NuevoUserForm" (ngSubmit)="guardar()" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                        Crear nueva cuenta
                </span>

                <span *ngIf="ccUsuarioNoValido" class="text-danger animated fadeIn">La cédula es obligatoria y debe estar compuesta por números</span>
                <div class="wrap-input100 m-b-16">
                    <input class="form-control input100" type="number" formControlName="cc_usuario" [class.is-invalid]="ccUsuarioNoValido" placeholder="Cédula de ciudadania">
                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="nombreUsuarioNoValido" class="text-danger animated fadeIn">El nombre es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100 form-control" type="text" formControlName="nombre_usuario" [class.is-invalid]="nombreUsuarioNoValido" placeholder="Nombre completo">
                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="cargoNoValido" class="text-danger ">Debe ingresar el cargo</span>
                <div class="wrap-input100 m-b-16">
                    <label> Cargo: </label>
                    <span class="focus-input100"></span>
                    <select class="form-control" formControlName="cargo" [class.is-invalid]="cargoNoValido">
                        <option> </option>
                        <option value="Administrador"> Administrador </option>
                        <option value="Supervisor de campo"> Supervisor de campo </option>
                    </select>
                </div>

                <span *ngIf="contrasenaUsuarioNoValido" class="text-danger animated fadeIn">La contraseña es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100 form-control" type="password" formControlName="contrasena_usuario" [class.is-invalid]="contrasenaUsuarioNoValido" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input type="checkbox" value="false" formControlName="rol">
                        <label> Marque si el usuario se va a registrar como administrador </label>
                    </div>
                </div>


                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                            Crear cuenta
                        </button>
                </div>

            </form>
        </div>
    </div>
</div>