input[type=number] {
    -moz-appearance: textfield;
}

.imagenFondo {
    background-image: url('../../../assets/img/PALMA080617MZS25.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;  
    height: 100vh;
} 

.wrap-login100{
    background-color: #ffffff80;
    padding-left: 20px;
    padding-right: 20px;
}

.login100-form-title {
    color: #832e19;
}

.sigpa_icon {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 8px; /* Espacio entre el texto y el icono (opcional) */
}