<div class="imagenFondo limiter animated fadeInRight ">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" [formGroup]="LoginUserForm" (ngSubmit)="login()">
                <span class="login100-form-title p-b-51">
                    SISTEMA DE INFORMACIÓN PARA LA GESTIÓN DE LA DINÁMICA DE LA PALMA
                </span>
                <hr>
                <span class="login100-form-title p-b-51">
                    Login
                </span>

                <small *ngIf="ccUsuarioNoValido" class="text-danger animated fadeIn">Campo obligatorio</small>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="number" formControlName="cc_usuario" [class.is-invalid]="ccUsuarioNoValido" placeholder="Cédula de ciudadania">
                    <span class="focus-input100"></span>
                </div>

                <small *ngIf="contrasenaUsuarioNoValido" class="text-danger animated fadeIn">Campo obligatorio</small>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="password" formControlName="contrasena_usuario" [class.is-invalid]="contrasenaUsuarioNoValido" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>

                <!--div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div>
                        <button routerLink="/registro" class="txt1">
                            ¿No tienes cuenta?
                        </button>
                    </div>
                </div-->

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>
            </form>


            <!--<div class="contact100-form-checkbox">
                        <input [(ngModel)]="recuerdame" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>-->
        </div>
    </div>
</div>