input[type=number] {
    -moz-appearance: textfield;
}

.imagenFondo {
    background-image: url('../../../assets/img/PALMA080617MZS25.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;  
    height: 100vh;
} 

.wrap-login100{
    background-color: #ffffff80;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;   /* necesario para centrar inline-flex */
}

.login100-form-title {
    color: #832e19;
}

.icon_sigpa{
    border-radius: 5px;
    display: inline-flex;
    background-color: #e6fff3;
    padding-left: 5px;
    align-items: flex-end;
    margin: 30px auto;
}

.navbar-brand {
    font-family: Ubuntu-Bold;
    color: #ff5d35;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 0%;
    border-top: 5px;
    margin: 0%;
}