<div *ngIf="!cargando" class="container mt-5" style="height: 80%">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%">
        <div class="spinner-grow text-success" role="status" style="width: 3rem; height: 3rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="container mt-5 mb-5">
    <div class="row">
        <h4> Enfermedades </h4>
        <div class="col pr-0">
            <app-fecha> </app-fecha>
        </div>
    </div>
    <hr class="row mt-1">

    <div *ngIf="hayEnfermedades || hayEnfermedadesEtapas" class="row mb-3">
        <p>Estas son la enfermedades registradas hasta el momento </p>
    </div>

    <div *ngIf="bandera" class="alert alert-danger" role="alert">
        <i class="fas fa-exclamation-triangle mr-2"></i> {{ mensaje_error }}
    </div>

    <div *ngIf="!hayEnfermedades && !hayEnfermedadesEtapas" class="alert alert-danger" role="alert">
        <i class="fas fa-exclamation-triangle mr-2"></i> Aún no hay enfermedades registradas
    </div>
    <!--hayEnfermedades: {{hayEnfermedades}} - hayEnfermedadesEtapas {{hayEnfermedadesEtapas}}-->
    <form [formGroup]="NombreEnfermedadForm" (ngSubmit)="enviarEnfermedad()">
        <div class="row" *ngIf="!bandera">
            <table *ngIf="hayEnfermedades" class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Procedimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let enfermedad of enfermedades; let i=index">
                        <td>
                            <input type="radio" id={{i}} value=enfermedad-{{enfermedad.nombre_enfermedad}} name="nombre_enfermedad" formControlName="nombre_enfermedad">
                        </td>
                        <td>
                            <label class="form-check-label" for="enfermedad.nombre_enfermedad">
                                {{ enfermedad.nombre_enfermedad }}   
                            </label>
                        </td>
                        <td> {{ enfermedad.procedimiento_tratamiento_enfermedad }} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table *ngIf="hayEnfermedadesEtapas" class="table table-hover">
            <thead>
                <tr class="table-success row">
                    <th class="col-1"></th>
                    <th class="col-3"> Nombre </th>
                    <th class="col-3"> Etapa </th>
                    <th class="col-5"> Procedimiento </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let enfermedad of enfermedadesEtapas; let i=index" class="row">
                    <td class="col-1">
                        <input type="radio" id={{i+enfermedades.length}} value=etapa-{{enfermedad[0].nombre_enfermedad}} name="nombre_enfermedad" formControlName="nombre_enfermedad">
                    </td>
                    <td class="col-3">
                        <label class="form-check-label" for="enfermedad.nombre_enfermedad">
                            {{ enfermedad[0].nombre_enfermedad }} 
                        </label>
                    </td>
                    <td class="col-8">
                        <table class="container-fluid">
                            <tbody>
                                <tr class="row" *ngFor="let etapaTratamiento of enfermedad">
                                    <td class="col-5" style=" border: transparent; padding-top: unset;"> {{ etapaTratamiento.etapa_enfermedad | titlecase }} </td>
                                    <td class="col-7" style=" border: transparent; padding-top: unset; padding-left: unset;"> {{ etapaTratamiento.tratamiento_etapa_enfermedad }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr class="row mt-1">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-info btn-block" [routerLink]="['/nueva-enfermedad']">
            <i class="fas fa-plus-circle"></i>
            Añadir enfermedad 
            </button>
            </div>
            <!--<div class="col">
                <button type="button" class="btn btn-info btn-block" [routerLink]="['/nueva-enfermedad']">
                <i class="fas fa-plus-circle"></i>
                Añadir etapas 
            </button>
            </div>-->
        </div>
        <div *ngIf="hayEnfermedades || hayEnfermedadesEtapas" class="row m-2">
            <i class="mr-2 fas fa-exclamation-circle"></i> <small> Para eliminar o editar debe seleccionar primero una enfermedad.</small>
        </div>
        <div *ngIf="hayEnfermedades || hayEnfermedadesEtapas" class="row mt-2">
            <div class="col">
                <button type="submit" class="btn btn-outline-danger btn-block" (click)="eliminarEnfermedad()" [disabled]="!esValido()"> 
                <i class="fas fa-trash"></i>
                Eliminar 
            </button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-warning btn-block" (click)="editarEnfermedad()" [disabled]="!esValido()">
                <i class="fas fa-pencil-alt"></i>
                Editar 
            </button>
            </div>
        </div>
    </form>
</div>




<!--<div class="container mt-3">
    <a [routerLink]="['/lotes']" class="btn btn-outline-danger"> Regresar </a>
</div>-->