<div  class="container-xl">
    <app-fecha> </app-fecha>

    <div class="row">
        <h4> Enfermedades </h4>
    </div>
    <div class="row">
        <p>Estas son la enfermedades registradas hasta el momento </p>
    </div>

    <div *ngIf="bandera" class="alert alert-danger" role="alert">
        <i class="fas fa-exclamation-triangle"></i> {{ mensaje_error }}
    </div>
    <div class="row" *ngIf="!bandera">
        <table class="table table-hover" >
            <thead>
                <tr class="table-info">
                    <th scope="col">Enfermedad</th>
                    <th scope="col">Etapa</th>
                    <th scope="col">Tratamiento</th>
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let enfermedad of enfermedad; index as i">
                    <td>
                        <form [formGroup]="NombreEnfermedadForm" (ngSubmit)="enviarEnfermedad()">
                            <input type="checkbox" class="form-check-input" id="i" value="enfermedad.nombre_enfermedad">
                            <label class="form-check-label" for="enfermedad.nombre_enfermedad">
                                    {{ enfermedad.nombre_enfermedad }}   
                            </label>
                        </form>

                    </td>
                    <td> {{ enfermedad.etapa_enfermedad }} </td>
                    <td> {{ enfermedad.tratamiento_etapa_enfermedad }} </td>
                </tr>

            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-info btn-block" [routerLink]="['/nueva-enfermedad']">
        <i class="fas fa-plus-circle"></i>
        Añadir enfermedad 
    </button>
    <div class="row mt-3">
        <div class="col">
            <button type="button" class="btn btn-outline-danger btn-block"> 
                <i class="fas fa-trash"></i>
                Eliminar 
            </button>
        </div>
        <div class="col">
            <!--[routerLink]="['editar-enfermedad']"-->

            <button type="submit" class="btn btn-outline-warning btn-block" routerLinkActive="router-link-active"> 
                <i class="fas fa-pencil-alt"></i>
                Editar 
            </button>
        </div>
    </div>
</div>




<!--<div class="container mt-3">
    <a [routerLink]="['/lotes']" class="btn btn-outline-danger"> Regresar </a>
</div>-->