.navbar-green {
    background-color: #1a936f;
}

.nav-item{
    color: white;
}

.navbar-brand {
    /*color: #FDE0D9;*/
    color: #F9A18B;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropright:hover>.dropdown-menu {
    display: block;
}

@media (min-width: 992px) {
    #user_menu {
        margin-left: -2.5em;
    }
}